<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanlt.vietcomic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ComicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ComicContentProvider"
            android:authorities="com.quanlt.vietcomic"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.detail.ComicDetailActivity"
            android:label="@string/title_activity_comic_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.reader.ReaderActivity"
            android:label="@string/title_activity_reader"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>